venv/
.idea/
api/__pycache__/
api.zip
dependencies/
infra/.*
infra/*.tfstate*
tests/__pycache__/
.env
infra/modules/dynamodb/.terraform.lock.hcl
infra/modules/dynamodb/.terraform/
infra/modules/iam/.terraform.lock.hcl
infra/modules/iam/.terraform/
infra/modules/.terraform/
